@font-face {
  font-family: "Acens";
  src: url('./fonts/Acens.ttf');
}
@font-face {
  font-family: "Big_Noodle_Titling";
  src: url('./fonts/Big_Noodle_Titling.ttf');
}
@font-face {
  font-family: "Folks_Light";
  src: url('./fonts/Folks_Light.ttf');
}
