$lgPadding: 20px;
$mdPadding: 10px;
$smPadding: 5px;
$noPadding: 0px;

$lgMargin: 20px;
$mdMargin: 10px;
$smMargin: 5px;
$noMargin: 0px;


$lgRadius: 20px;
$mdRadius: 10px;
$smRadius: 5px;
$noRadius: 0px;