@import "standards/colors.scss";
@import "standards/mixins.scss";

.header {
  @include boxed(10px, $deepBlue, $lightBlue);
  height: 100px;
  color:$lightGrey;
}

.header li a:hover{
  cursor: pointer;
  color:$deepBlue;
}

.header li a{
  color:$vlightGrey;
}