$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "standards/colors";
@import "standards/mixins";
@import "standards/dimens";
@import "standards/bootstrap/bootstrap-theme";
@import "standards/bootstrap/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: $lgPadding;
    padding-bottom: $lgPadding;
}

.header {
  @include boxed($mdRadius, $deepBlue, $lightBlue);
  height: 100px;
  color:$lightGrey;
  padding-left: $mdPadding;
  padding-right: $mdPadding;

  li {
    a:hover {
      cursor: pointer;
      color:$deepBlue;
    }
    a {
      color:$vlightGrey;
    }
  }

  li.active a{
    @include grad($vlightGrey, $lightBlue);
  }

  li.active a:hover{
    @include grad($blue, $vlightBlue);
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.content{
  @include boxed($mdRadius, $lightGrey, $vlightGrey);
  margin-top: $mdMargin;
  margin-bottom: $mdMargin;
  padding: $mdPadding;

  h2 {
    font-family: "Calibri";
    font-size: 2.5em;
    text-align: center;
    color: $deepBlue;
    padding-bottom: $mdPadding;
  }

  .panel {
    .panel-heading {
      font-size: 1.2em;;
    }

    .panel-footer {
      @include grad(white, $vlightGrey);
    }
    .movie {
      .panel-heading {
        @include grad($deepBlue, $lightBlue);
        color: $vlightGrey;
      }
    }

    .music{
      .panel-heading {
        @include grad($lightBlue, $vlightGrey);
      }
    }
  }

}

.footer {
  @include boxed($mdRadius, $deepBlue, $lightBlue);
  height: 100px;
  color:$lightGrey;
  padding-top: $lgPadding;
  padding-left: $mdPadding;
  padding-right: $mdPadding;
}


