$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "standards/colors";
@import "standards/mixins";
@import "standards/dimens";
@import "standards/bootstrap/bootstrap-theme";
@import "standards/bootstrap/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: $lgPadding;
    padding-bottom: $lgPadding;
}

.header {
  @include boxed($mdRadius, $deepBlue, $lightBlue);
  height: $xsHeight;
  color:$lightGrey;
  padding-left: $mdPadding;
  padding-right: $mdPadding;

  li {
    a:hover {
      cursor: pointer;
      color:$deepBlue;
      @include grad($lightGrey, $vlightGrey);
    }
    a {
      color:$vlightGrey;
    }
    .dropdown {
        a:hover {
          cursor: pointer;
          color:$deepBlue;
          @include grad($lightGrey, $vlightGrey);
        }
        a {
          color:$vlightGrey;
        }
      .dropdown-menu {
        @include grad($vlightGrey, $lightGrey);
        li {
          background: inherit;
          a {
            background: inherit;
            color: $darkGrey;
          }
          a:hover{
            color: $deepBlue;
          }
        }
      }
    }

  }

  li.active a{
    @include grad($lightBlue, $blue);
  }

  li.active a:hover{
    @include grad($vlightGrey, $lightGrey);
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.open{
  background-color: $darkGrey;
}
.open {
  a {
  background: white;
    color: $deepBlue;
  }
  a:hover {
    background: white;
    color: $lightBlue;
  }
}

.content{
  @include boxed($mdRadius, $lightGrey, $vlightGrey);
  margin-top: $mdMargin;
  margin-bottom: $mdMargin;
  padding: $mdPadding;

  h2 {
    font-family: "Calibri";
    font-size: 2.5em;
    text-align: center;
    color: $deepBlue;
    padding-bottom: $mdPadding;
  }

  .panel {
    .panel-heading {
      font-size: 1.2em;;
    }

    .panel-footer {
      @include grad(white, $vlightGrey);
    }
    .movie {
      .panel-heading {
        @include grad($deepBlue, $lightBlue);
        color: $vlightGrey;

        a {
          color: inherit;
        }
      }

      .panel-body {
        @include boxedTable();
      }
    }

    .music{
      .panel-heading {
        @include grad($lightBlue, $vlightGrey);
      }

      .panel-body {
        @include boxedTable();
      }
    }
  }

}

.footer {
  @include boxed($mdRadius, $deepBlue, $lightBlue);
  height: $xsHeight;
  color:$lightGrey;
  padding-top: $lgPadding;
  padding-left: $mdPadding;
  padding-right: $mdPadding;
}


.input-group-addon {
  min-width:75px;
  text-align:center;
  @include grad($deepBlue, $lightBlue);
  color:$vlightGrey
}

.input-group{
  @include shadowed();
}