$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "standards/colors";
@import "standards/mixins";
@import "standards/fonts";
@import "standards/dimens";
@import "standards/bootstrap/bootstrap-theme";
@import "standards/bootstrap/bootstrap";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: $lgPadding;
  padding-bottom: $lgPadding;
  font-family: "Acens";
}

.header, .footer {
  @include boxed($mdRadius, $deepBlue, $lightBlue);
  color: $lightGrey;
  padding-top: 0px;
  padding-left: $smPadding;
  padding-right: $mdPadding;
  padding-bottom: $mdPadding;

  h1 {
    margin-top: 0px;
  }

  li {
    a:hover {
      cursor: pointer;
      color: $deepBlue;
      @include grad($lightGrey, $vlightGrey);
    }
    a {
      color: $vlightGrey;
    }
    .dropdown {
      a:hover {
        cursor: pointer;
        color: $deepBlue;
        @include grad($lightGrey, $vlightGrey);
      }
      a {
        color: $vlightGrey;
      }
      .dropdown-menu {
        @include grad($vlightGrey, $lightGrey);
        li {
          background: inherit;
          a {
            background: inherit;
            color: $darkGrey;
          }
          a:hover {
            color: $deepBlue;
          }
        }
      }
    }
    .open {
      background-color: $darkGrey;

      a {
        background: white;
        color: $deepBlue;
      }
      a:hover {
        background: white;
        color: $lightBlue;
      }
    }
  }

  li.active a {
    @include grad($lightBlue, $blue);
  }

  li.active a:hover {
    @include grad($vlightGrey, $lightGrey);
  }

}

.content {
  @include boxed($mdRadius, $lightGrey, $vlightGrey);
  margin-top: $mdMargin;
  margin-bottom: $mdMargin;
  padding: $mdPadding;
  @include boxedTable();
  min-height: $smHeight;

  h2 {
    font-size: 2.5em;
    text-align: center;
    color: $deepBlue;
    padding-bottom: $mdPadding;
  }

  .panel {
    .panel-heading {
      font-size: 1.2em;
      a {
        color: inherit;
      }
    }

    .panel-footer {
      @include grad(white, $vlightGrey);
    }

    .panel-body {
      height: $smHeight;
    }

    .movie {
      .panel-heading {
        @include grad($deepBlue, $lightBlue);
        color: $vlightGrey;
      }
    }

    .album, .music {
      .panel-heading {
        @include grad($lightBlue, $vlightGrey);
      }
    }
    .album{
      .panel-body {
        height: auto;
      }
    }
  }

  .input-group-addon {
    min-width: 75px;
    text-align: center;
    @include grad($deepBlue, $lightBlue);
    color: $vlightGrey
  }

  .spe-button {
      min-width: 95px;
    @include border-radius(3px);
  }
}

.footer {
  padding: 0px;
}



