<div class = "panel">
    <div class="movie">
        <div class="panel-heading">
            <p>
                {{item.title}}
            </p>
        </div>
        <div class="panel-body">
            
            <div>
                Casting
                <div ng-repeat="actor in item.actors">
                    {{actor.role}} : {{actor.name}}
                </div>
            </div>
            
        </div>
        <div class="panel-footer">
        Realisator : {{item.realisator}}    
        {{item.year}}
        </div>
    </div>
</div>