<!-- Display Title, Realisator, year, Country?-->
<div class = "panel">
    <div class="movie">
        <div class="panel-heading">
            <p>
                <a href="#/movie/{{item.title}}">{{item.title}}</a>
            </p>
        </div>
        <div class="panel-body">
            <table class = "col-xs-12">
                <tr>
                    <td>
                        <center><IMG SRC="{{item.poster}}" height="120" width="80"></center>
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
            <center><a href="http://www.imdb.com"+{{item.imdbUrl}}>lien IMDB</a>, lien partage fb, lien DDL</center>
        </div>
    </div>
</div>


