<!-- Display Title, Realisator, year, Country?-->
<div class = "panel">
    <div class="movie">
        <div class="panel-heading">
            <p>
                <a href="#/movie/{{item.title}}">{{item.title}}</a>
            </p>
        </div>
        <div class="panel-body">
            <table class = "col-xs-12">
                <tr ng-repeat="actor in item.actors">
                    <td>
                        {{actor.role}}
                    </td>
                    <td>
                        {{actor.name}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">
        Realisator : {{item.realisator}}<br/>
        {{item.year}}
        </div>
    </div>
</div>


