<div class="header">
    <ul class="nav nav-pills pull-right">
        <li ng-class="{active:location == '/'}"><a ng-href="#">Home</a></li>
        <li ng-class="{active:location == '/musics'}"><a ng-href="/#/musics" ng-click="tog=active">Musics</a></li>
        <li ng-class="{active:location == '/movies'}"><a ng-href="/#/movies">Movies</a></li>
        <li ng-class="{active:location == '/about'}"><a ng-href="#">About</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Add content</a>
          <ul class="dropdown-menu">
            <li><a href="/#/Upload_movie">Movie<span class="badge">0</span></a></li>
            <li><a href="/#/Upload_music">Music <span class="badge">0</span></a></li>
          </ul>
        </li>
        <li ng-class="{active:location == '/contact'}"><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Pi Project</h3>
</div>