<ng-include src="'views/header.html'"></ng-include>
<div class="content">
    <h2>{{item.title}}</h2>
    <div class="row">
        <div class="col-xs-10 col-xs-push-1 col-lg-5">
            <video height="50%" ng-src="{{item.link}}"  controls></video>
        </div>
        <table class="col-xs-10 col-xs-push-1 col-lg-5">
            <tr>
                <td>
                    <strong>Directors</strong>
                </td>
                <td>
                    <span ng-repeat="director in item.directors">
                        <span ng-if="$index > 0">, </span>{{director}}
                    </span>
                </td>
            </tr>
            <tr >
                <td>
                    <strong>Casting</strong>
                </td>
                <td>
                    <span ng-repeat="cast in item.cast" ng-if="$index < 3">
                        <span ng-if="$index > 0">, </span>{{cast}} <span ng-if="$index == 2">, etc.</span>
                    </span>
                </td>
            </tr>
            <tr >
                <td>
                    <strong>Synopsis</strong>
                </td>
                <td>
                   {{item.description}}
                </td>
            </tr>
        </table>
    </div>

</div>
<ng-include src="'views/footer.html'"></ng-include>
